# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment files
.env

# OS
.DS_Store

# Data files 
data_science/DATA/*
!data_science/DATA/.gitkeep
